body {
    background-color: #055753;
    font: normal 15pt arial;
}
header {
    color: #fff;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #44444454;
    
}
footer {
    color: #fff;
    text-align: center;
    font-style: italic;
}
#info {
    padding: 10px;
}
#image {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}